@model ASPcore_WebAPP.Models.Employee

<h2>Update Employee Details</h2>

@using (Html.BeginForm("EditPost", "All_Methods", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)

    <p>
        <label>Employee Name</label><br />
        @Html.TextBoxFor(model => model.Name)
    </p>

    <p>
        <label>Employee Address</label><br />
        @Html.TextBoxFor(model => model.Address)
    </p>

    <p>
        <label>Employee Salary</label><br />
        @Html.TextBoxFor(model => model.Salary)
    </p>

    <p>
        <input type="submit" value="Update" />
    </p>
}

<p>
    @Html.ActionLink("Back to List", "DisplayAll_PageLoad", "All_Methods")
</p>
